@model Hypermarine.Models.Post


@{
    ViewBag.Title = "New Post";
}

<h2>New Post</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(p => p.Title, "Title")
    @Html.TextBoxFor(p => p.Title)

    @Html.LabelFor(p => p.Link, "Link")
    @Html.TextBoxFor(p => p.Link);

    <button type="submit">Post</button>
    <a href="@Url.Action("Home/Index")">Cancel</a>
}