@model Hypermarine.Models.Post


@{
    ViewBag.Title = "New Post";
}

<h2 class="page-header">New Post</h2>

@using (Html.BeginForm())
{
    <div class="form-row">
    @Html.LabelFor(p => p.Title, "Title", new { @class = "form-label" })
    @Html.TextBoxFor(p => p.Title, new { @class = "form-field" })
    </div>

    <div class="form-row">
    @Html.LabelFor(p => p.Link, "Link", new { @class = "form-label" })
    @Html.TextBoxFor(p => p.Link, new { @class = "form-field" })
    </div>

    <div class="form-row form-submit-row">
    <button class="form-submit" type="submit">Post</button>
    <a class="form-cancel" href="@Url.Action("Index")">Cancel</a>
    </div>
}