<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Lora|Merriweather|Open+Sans|Poppins" rel="stylesheet">
    <link rel="stylesheet" href="~/Styles/styles.css">
</head>

<body>
    <header>
        <div id="logo-container">
            <div id="logo">
                <a href="\Home\Index" id="logo-link">Hypermarine</a>
            </div>
        </div>
        <div id="controls-container">
            <div id="username-container">
                    @if (!HttpContext.Current.Request.Cookies.AllKeys.Contains("username"))
                    {
                        <div id="username">Welcome! You are not signed in.</div>
                        <div id="login-button-container">
                            <div id="login-button">
                                <a href="@Url.Action("Login", "Home", null)" id="login">Login</a>
                            </div>
                        </div>
                        <div id="signup-button-container">
                            <div id="signup-button">
                                <a href="@Url.Action("Signup", "Home", null)" id="signup">Signup</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div id="username">Welcome, @Request.Cookies["username"].Value!</div>
                        <div id="login-button-container">
                            <div id="login-button">
                                <a href="@Url.Action("Logout", "Home", null)" id="login">Logout</a>
                            </div>
                        </div>
                    }
            </div>
        </div>
    </header>
    
    @RenderBody()

</body>
</html>